#noteContainer{
  border-style: solid;
  border-color: black;
  border-width: 2px;
  padding: 5px 15px;
}
#date-button-box{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
#deleteNoteBtn{
  border-color: black;
  border-width: 2px;
  height: 35px;
  background-color: white;
}
.deleteNoteBtn{
  border-color: black;
  border-width: 2px;
  height: 35px;
  background-color: white;
}