h1{
  text-align: center;
}
#container{
  display:flex;
  justify-content: space-around;
}
.sidebar{
  flex: 1;
  text-align: center;
}
main{
  flex: 2;
}
a{
  text-decoration: none;
  color:black;
}
.mainSidebarFolderList.active{
  background-color: lightskyblue;
}